{% block block_image_text %}
	<div class="image-text-reversed">
		<div class="row">
			{% set columns = 2 %}
			{% set id = element.id %}

			{% block block_image_text_left %}
				{% set element = block.slots.getSlot('left') %}

				<div class="col-md-7" data-cms-element-id="{{ id }}">
					{% block block_image_text_left_inner %}
						{% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
					{% endblock %}
				</div>
			{% endblock %}

			{% block block_image_text_right %}
				{% set element = block.slots.getSlot('right') %}

				<div class="col-md-5" data-cms-element-id="{{ id }}">
					{% block block_image_text_right_inner %}
						{% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
					{% endblock %}
				</div>
			{% endblock %}
		</div>
	</div>
{% endblock %}

{# TODO: responsive, refactor, and styling #}
